.mi-input{
    padding: 12px 15px;

    font-size: 18px;

    width: 800px;
    max-width: 1000px;

    border: 2px solid #083e62;
    border-radius: 18px;
    outline: none;
}

.mi-input:focus{
    border-color: #458fc1;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.button-catalog{
    font-size: 14px;
    background-color: #6f6e8f;
    border-color:rgb(121, 115, 168)
}


#contenedor_paginas{
    background-color: #6f6e8f;
    padding: 20px;
}

.banner-inicio{
    width: 100%;
    height: 100px;
    background-color: #6f6e8f;
    background-image: url('imagenes/banner_imagen.png');
    background-size: cover;        /* Cubre todo el div */
    background-position: center;   /* Centra la imagen */
}

#footer-section {
    position: fixed;
    bottom: 0;
    width: 100%;
}