#tabla-autores {
    width: 100%;
    border-collapse: collapse; /* Elimina espacios entre celdas */
    margin-top: 20px;
}

#tabla-autores th, #tabla-autores td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#tabla-autores th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#tabla-autores tr:nth-child(even) {
    background-color: #f9f9f9;
}

#footer-section {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
    Panel sur de los botones
*/

#footer-section p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

#footer-section a {
    text-decoration: none;
}

/* Botones del footer */
#footer-section button {
    background-color: #334155;
    color: #f8fafc;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#footer-section button:hover {
    background-color: #475569;
}

.autor{
    background-color: #334155;
    color: #f8fafc;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.input{
    border-radius: 12px;
    background-color:antiquewhite;

}

.label{
    font-weight: bold;
}

.contenedor-formulario{
    background-color:#8a97a9;
    border-radius: 6px;
    padding: 2px 16px;
}